<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href="/stylesheets/skeleton.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src='/js/application.js'></script>
  </head>
  <body>
  <div class='container full'>

    <div id='sidebar' class='four columns'>
      <div class='container header'>
        <nav class='row navbar'>
          <div class='navbar-list'>
            <div id='logo'>
              <a href = '/'>TrackMyTruck</a>
            </div>
            <div id='menu'>
            <% if (session.userID){ %>
              <% if (session.userType == 'user'){ %>
                <button class='navbar-item'><a href = '/users/<%= session.userID %>'>Profile</a></button>
                <button class='button navbar-item'><a href = '/users/logout'>Log Out</a></button>
                
              <% } else { %>
                <button class='navbar-item'><a href = '/trucks/<%= session.userID %>/setlocation'>Set Location</a></button>
                <button class='navbar-item'><a href = '/trucks/<%= session.userID %>'>Profile</a></button>
                <button class='navbar-item'><a href = '/trucks/logout'>Log Out</a></button>
                
              <% } %>
            <% } else{ %>
              <button class='navbar-item'><a href = '/trucks/new'>I'm A Truck</a></button>
              <button class='navbar-item'><a href = '/users/new'>Log In / Sign Up</a></button>
              
            <% } %>
            </div>
          </div>

          <!-- Options for Mobile Views -->
          <div class='mobile-nav'>
            <span class='navbar-item' id='logo'><a href = '/'>TrackMyTruck</a></span>
            <select class='navbar-list'>
              <% if (session.userID){ %>
                <% if (session.userType == 'user'){ %>
                  <div id='user-logged-in'>
                    <option value = '/users/<%= session.userID%>' selected='selected'>Profile</option>
                    <li class='navbar-item'><a href = '/users/logout'>Log Out</a></li>
                  </div>
                <% } else { %>
                  <div id='truck-logged-in'>
                    <option value = '/trucks/<%= session.userID %>/setlocation' selected='selected'>Set Location</option>
                    <option value = '/trucks/<%= session.userID %>'>Profile</option>
                    <option value = '/trucks/logout'>Log Out</option>
                  </div>
                <% } %>
              <% } else{ %>
                <div id='logged-out'>
                  <option value='' selected='selected'>Menu</option>
                  <option value = '/trucks/new'>I'm A Truck</option>
                  <option value= '/users/new'>Login / Sign Up</option>
                </div>
              <% } %>
            </ul>
            </select>
          </div>
        </nav>

      </div>
  <!-- 'sidebar' div ends in specific page view to allow for content to be included in sidebar -->




