<script type="text/javascript" src='/js/favorites.js'></script>
<div id='trucklist' class='four columns panel'>
  <div id='loginprompt' class='panel'>
    <p>Please <a href="/users/login">log in</a> or <a href="/users/new">sign up</a> to favorite a truck.</p>
  </div>
  <% allTrucks.forEach(function(truck){ %>
    <div class='panel truckpanel'>
      <div class='panel-heading'>
        <h1><%=truck.name %>
        <span class='right'>
          <%if(currentUser != undefined){ %>
            <%if(favorites.indexOf(truck.id) === -1){%>
              <form method='post', action="/favorites/<%=truck.id%>">
                <button type='submit' class='icon'><i class='fa fa-star-o fa-2x'></i></button>
              </form>
            <% } else {%>
            
              <form method='post', action="/favorites/<%=truck.id%>?_method=DELETE">
                <input type='hidden' name='_method' value='delete'>
                <button type='submit' class='icon'><i class='fa fa-star fa-2x'></i></button>
              </form>
            <%  } %>
          <% } else {%>
              <button class='icon'><i type='submit' class='notloggedin fa fa-star-o fa-2x'></i></button>
            <% } %>%>
        </span></h1>
      </div>
      <div class='panel-body'>
        <p><%=truck.description%></p>
        <% if(truck.yelpInfo != undefined){ %>
          <p><%=truck.yelpInfo.categories[0][0]%></p>
          <img src="<%=truck.yelpInfo.smallRating%>">
        <% } %>
      </div>
    </div>
  <% }) %>

</div>