<% include ../partials/header %>
<!-- Sidebar content -->
  <div class='eight columns offset-by-two' id='userpitch'>
  </div>
  <div class = 'row yelp_logo four columns'>
    Copyright 2015
  </div>
</div>
<!-- Any content in sidebar goes ABOVE this div closure-->

<div class='eight columns' id='content'>

  <div id='tabbed-content'>
    <div class='row'>
      <div class='three columns'>
        <h1><%= user.name %></h1>
      </div>
      <% if(user.id == session.userID){ %>
        <div class = 'one column edit'>
          <a href='/users/<%= user.id %>/edit'>edit</a>
        </div>
      <% } %>
    </div>

    <div class ='row'>
      <h3>Favorites:</h3>
    </div>

    <% favorites.forEach(function(truck){ %>
      <div class='panel truckpanel' id='<%= truck.id %>'>
        <div class='panel-heading'>
          <h1><a href='/trucks/<%=truck.id%>'><%=truck.name %></a></h1>
        </div>

        <div class='panel-body clearfix'>
          <p>Category: <%=truck.yelpInfo.categories[0][0]%></p>
          <p><img src="<%=truck.yelpInfo.mediumRating%>">(<%=truck.yelpInfo.review_count%>)<span class='right'><a href='https://www.yelp.com' target = '_blank'><img src = 'https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/14f29ad24935/assets/img/yelp_logo_40x20.png'></a></span></p>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<% include ../partials/footer %>
